/starter-kit-laravel/nbproject/private/
starter-kit-laravel/nbproject/project.properties
starter-kit-laravel/nbproject/project.xml
starter-kit-laravel/_ide_helper.php
starter-kit-laravel/_ide_helper_models.php
